<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">Portal</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <ng-container *ngIf="user$ | async as user; else notLoggedIn">
          <a class="nav-link" routerLink="/notes" routerLinkActive="active-link"> Notatki </a>
          <a *ngIf="user.role === 'ADMIN'" class="nav-link" routerLink="/admin" routerLinkActive="active-link">
            Użytkownicy
          </a>

          <div class="nav-item dropdown">
            <a
              tabindex="-1"
              aria-disabled="true"
              routerLinkActive="active-link"
              class="nav-link dropdown-toggle"
              id="navbarDarkDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <span>{{ user.firstName }}</span>
              <img
                src="{{
                  user.profileImageUrl || 'https://cdn.pixabay.com/photo/2021/10/19/10/56/cat-6723256_960_720.jpg'
                }}"
                alt="Avatar"
                width="30"
                height="30"
                class="avatar"
              />
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li>
                <a class="dropdown-item" routerLink="/profile"> Profil </a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="/" (click)="logout()">Wyloguj się</a>
              </li>
            </ul>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</nav>
<ng-template #notLoggedIn>
  <a class="nav-link mx-1 px-2 btn btn-outline-primary" routerLink="/login" routerLinkActive="active-link">
    Zaloguj się
  </a>
  <a class="nav-link mx-1 px-2 btn btn-primary" routerLink="/register" routerLinkActive="active-link">
    Zarejestruj się
  </a>
</ng-template>
