<div class="container-fluid">
  <div class="d-flex justify-content-end my-4">
      <button class="btn btn-success" (click)="open()">Dodaj notatkę</button>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Data</th>
        <th scope="col">Tytuł</th>
        <th scope="col">Tekst</th>
        <th scope="col">Wartość</th>
        <th scope="col">Autor</th>
        <th scope="col">Opcje</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let note of notes">
        <tr>
          <th scope="row">{{ note.id }}</th>
          <td>{{ note.creationDate | date: 'h:mm dd/MM/yyy'}}</td>
          <td>{{ note.title }}</td>
          <td>{{ note.text }}</td>
          <td>{{ note.value }}</td>
          <td>{{ note.author }}</td>
          <td>
              <div class="d-flex">
                <button
                  class="btn btn-outline-secondary p-1 m-1"
                  (click)="open(note.id)"
                >
                  Edytuj
                </button>

                <button
                  class="btn btn-danger p-1 m-1"
                  (click)="removeNote(note.id)"
                >
                  Usuń
                </button>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
