<div class="w-100 d-flex justify-content-end p-3">
  <a class="btn btn-outline-success mx-3" tabindex="-1" routerLink="/reset">Zatwierdź</a>
  <a class="btn btn-danger " tabindex="-1" routerLink="/profile">Wróć</a>
</div>
<div class="container my-5">
  <div class="card w-75 mx-auto p-5">
    <form class="p-5">
      <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupFile02">Wybierz zdjęcie profilowe</label>
        <input type="file" class="form-control" id="inputGroupFile02">
      </div>
    </form>
  </div>
</div>
