<div class="container my-5 d-flex align-content-center justify-content-center">
  <div class="w-50 my-5 p-5 card">
    <form [formGroup]="credentialsForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          required
          formControlName="email"
        />

        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
          <div *ngIf="email.errors?.['required']">Email jest wymagany</div>
          <div *ngIf="email.errors?.['email']">Podaj poprawny adress email</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Hasło</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          required
          formControlName="password"
        />
        <div *ngIf="password.invalid && (password.touched)" class="alert alert-danger">
          <div *ngIf="password.errors?.['required']">Hasło jest wymagane.</div>
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <div class="py-3">
<!--          <a routerLink="/reset" class="text-danger">Zapomniałem hasła</a>-->
          <br />
          <a routerLink="/register" class="text-secondary">Zarejestruj się</a>
        </div>
        <div class="d-flex align-items-center">
          <button class="btn btn-primary" type="submit">Zaloguj się</button>
        </div>
      </div>
    </form>
  </div>
</div>
