<div class="container-fluid marketing py-5 bg-secondary">
  <div class="container">
    <div class="row featurette text-light">
      <div
        class="col-md-7 order-md-2 d-flex flex-column justify-content-center"
      >
        <h2 class="featurette-heading">
          Portal do notatek dla
          <span class="text-dark"> różnych użytkowników</span>
        </h2>
        <p class="lead">Dostępne opcje to:</p>
        <ul class="lead">
          <li>Rejestracja nowego użytkownika</li>
          <li>Edycja swojego profilu</li>
          <li>Edycja uprawnień (roli) użytkownika</li>
          <li>Usunięcie użytkownika</li>
        </ul>
      </div>
      <div class="col-md-5 order-md-1">
        <img
          src="/assets/home/users.bmp"
          alt="users feature"
          width="500"
          height="500"
          class="
            bd-placeholder-img bd-placeholder-img-lg
            featurette-image
            img-fluid
            mx-auto
          "
        />
      </div>
    </div>
  </div>
</div>

<div class="container-fluid marketing py-5">
  <div class="container">
    <div class="row featurette">
      <div class="col-md-7 d-flex flex-column justify-content-center">
        <h2 class="featurette-heading">
          Każdy może stworzyć swoją <span class="text-primary">notatkę</span>
        </h2>
        <p class="lead">
          W zakładce "notatki" każdy użytkownik może dodać i zobaczyć napisane przez niego notatki.
          Dodatkowo użytkownicy z uprawnieniami Moderatora i Administratora zobaczą notatki innych użytkowników.
        </p>
      </div>
      <div class="col-md-5">
        <img
          src="/assets/home/notes.bmp"
          alt="users feature"
          width="500"
          height="500"
          class="
            bd-placeholder-img bd-placeholder-img-lg
            featurette-image
            img-fluid
            mx-auto
          "
        />
      </div>
    </div>
  </div>
</div>
