<div class="container my-5 d-flex align-content-center justify-content-center">
  <form class="card w-75 flex-row row my-5 p-5" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="col-md-6 mb-3">
      <label for="validationServer01" class="form-label">Imię</label>
      <input
        formControlName="firstName"
        type="text"
        class="form-control"
        id="validationServer01"
        value="Jan"
        required
      />
      <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger">
        <div *ngIf="firstName.errors?.['required']">Imię jest wymagane.</div>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <label for="validationServer02" class="form-label">Nazwisko</label>
      <input
        formControlName="lastName"
        type="text"
        class="form-control"
        id="validationServer02"
        value="Kowalski"
        required
      />
      <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">
        <div *ngIf="lastName.errors?.['required']">Nazwisko jest wymagane.</div>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <label for="validationServerUsername" class="form-label">Nazwa użytkownika</label>
      <div class="input-group has-validation">
        <input
          formControlName="username"
          type="text"
          class="form-control"
          id="validationServerUsername"
          aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback"
          required
        />
      </div>
      <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
        <div *ngIf="username.errors?.['required']">Nazwa użytkownika jest wymagana.</div>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <label for="validationServer03" class="form-label">E-mail</label>
      <div class="input-group has-validation">
        <span class="input-group-text" id="inputGroupPrepend3">@</span>
        <input
          formControlName="email"
          type="email"
          class="form-control"
          id="validationServer03"
          aria-describedby="validationServer03Feedback"
          required
        />
      </div>
      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
        <div *ngIf="email.errors?.['required']">Email jest wymagany</div>
        <div *ngIf="email.errors?.['email']">Podaj poprawny adres email</div>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <label for="validationServer05" class="form-label">Hasło</label>
      <input
        formControlName="password"
        type="password"
        class="form-control"
        id="validationServer05"
        aria-describedby="validationServer05Feedback"
        required
      />
      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
        <div *ngIf="password.errors?.['required']">Hasło jest wymagane.</div>
        <div *ngIf="password.errors?.['minlength']">Hasło musi mieć przynajmniej 6 znaków.</div>
        <div *ngIf="password.errors?.['maxlength']">Hasło nie może mieć więcej niż 30 znaków.</div>
        <div *ngIf="password.errors?.['noUpperCase']">Hasło musi zawierać przynajmniej 1 dużą literę</div>
        <div *ngIf="password.errors?.['noDigits']">Hasło musi mieć przynajmniej 1 cyfrę</div>
        <div *ngIf="password.errors?.['noSymbols']">Hasło musi mieć przynajmniej 1 znak specjalny</div>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <label for="validationServer05" class="form-label">Powtórz Hasło</label>
      <input
        formControlName="confirmPassword"
        type="password"
        class="form-control"
        id="validationServer06"
        aria-describedby="validationServer05Feedback"
        required
      />
      <div
        *ngIf="(confirmPassword.dirty || confirmPassword.touched) && registerForm.errors?.['noMatch']"
        class="alert alert-danger"
      >
        Hasła muszą się zgadzać!
      </div>
    </div>
    <div class="col-9 my-3">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="invalidCheck3"
          aria-describedby="invalidCheck3Feedback"
          required
          formControlName="agreed"
        />
        <label class="form-check-label" for="invalidCheck3">
          Jestem w pełni świadomy, że jest to aplikacja stworzona w ramach pracy inżynierskiej w celach naukowych. Może
          ona posiadać celowe luki bezpieczeństwa. Jestem świadomy, że wprowadzone przeze mnie dane nie są chronione.
        </label>
        <div *ngIf="agreed.invalid && (agreed.dirty || agreed.touched)" class="alert alert-danger">
          <div *ngIf="agreed.errors?.['required']">Zgoda jest wymagana.</div>
        </div>
        <div id="invalidCheck3Feedback" class="invalid-feedback">Musisz zatwierdzić, aby się zarejestrować.</div>
      </div>
    </div>
    <div class="col-3 d-flex align-items-center justify-content-end">
      <button class="btn btn-primary" type="submit">Zarejestruj się</button>
    </div>
    <div class="text-danger" *ngIf="errors">
      <div *ngFor="let error of errors">{{ error }}</div>
    </div>
  </form>
</div>
