<div class="container-fluid py-5">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Obrazek</th>
        <th scope="col">Imię</th>
        <th scope="col">Nazwisko</th>
        <th scope="col">Nazwa użytkownika</th>
        <th scope="col">Email</th>
        <th scope="col">Rola</th>
        <!--        <th scope="col">Nagrody</th>-->
        <th scope="col">Opcje</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let user of users">
        <tr>
          <th scope="row">{{ user.id }}</th>
          <td>
            <img
              src="{{
                user.profileImageUrl ||
                  'https://cdn.pixabay.com/photo/2021/10/19/10/56/cat-6723256_960_720.jpg'
              }}"
              alt="Avatar"
              width="50"
              height="50"
              class="avatar"
            />
          </td>
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>
            {{ user.role }}
          </td>
          <!--          <td>-->
          <!--            <ng-container *ngFor="let award of awards">-->
          <!--              {{ award }}-->
          <!--            </ng-container>-->
          <!--          </td>-->
          <td>
            <div class="d-flex">
              <button
                class="btn btn-outline-secondary p-1 m-1"
                (click)="open(user.id)"
              >
                Edytuj
              </button>

              <button
                class="btn btn-danger p-1 m-1"
                (click)="removeUser(user.id)"
              >
                Usuń
              </button>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
